body {
    padding: 50px;
}

.mycontainer {
    background-color: rgb(196, 196, 225);
    /* padding: 15px; */
    margin: 30px;
}

.myitem {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    background-color: rgb(130, 161, 151);
}

.container1 {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container2 {
    height: 300px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.container3 {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.container4 {
    height: 300px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container5 {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container6 {
    height: 300px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newcontainer {
    background-color: rgb(189, 221, 172);
    /* padding: 15px; */
    margin: 30px;
}

.newitem {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
    background-color: rgb(120, 127, 248);
}

.nc1 {
    width: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nc2 {
    height: 300px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    /* align content only has an effect if the items are not already being controlled by align-items. But "align content" works on whole columns, not individual items */
    align-content: flex-end;
}

.nc3 {
    width: 600px;
    height: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.nc4 {
    height: 300px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

.nc5 {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    /* space around the rows */
}

.nc6 {
    height: 300px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    /* space between the columns */
}


.imagecontainer {
    background-color: rgb(241, 209, 173);
    /* padding: 15px; */
    margin: 30px;
}

.imageitem {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgb(13, 18, 106);
    /* height:max-content; */ 
}

/* .ic1 img, */
.responsive-flex {
    max-width: 100%;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit:contain;
}





.ic1 {
    width: 100%;
    min-height: 400px;

    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    /* this refers to all the items inside the box collectively */
    gap: 10px;
    align-items:stretch;
    /* This controls how the items are centered top to bottom when used with a row*/
}

.ic1 .item2 {
    flex-grow: 2;
}




.ic2 {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    /* this refers to all the items inside the box collectively */
    gap: 10px;
    align-items: center;
    /* This controls how individual items are centered top to bottom when used with a row, left to right when used in a column*/
}

.ic2 .imageitem {
    /* min-width: 200px; */
}

.ic2 .item2 {
    /* height: 300px; */
    /* align-self:stretch; */
}

