.hidden {
  display:none;
}

body {
    background-color:rgb(127, 232, 255);
    font-family:'Courier New', Courier, monospace;
  }

  header {
  font-size: 20px;
  font-weight: bold;
  }
  
  code {
    display: block;
    background-color: rgb(223, 222, 222);
    padding: 10px;
  }

  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 10px;
    height: 100%;
    border-right: solid 5px rgb(126, 125, 137);
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

  .blurb {
    color: rgb(15, 172, 114);
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
  }
  

  @media (min-width: 600px) {
    /* Make the nav go to the left on a larger screen*/
    nav {
      display: inline-block;
      height: 100%;
      padding-right: 25px;
    }
  }


  /* Make everything visible as the last thing we do - make sure this code stays at the end of the last CSS file that gets loaded. */
  html {
    visibility: visible;
    opacity: 1;
}