.hidden {
  display:none;
}

body {
    font-family: "Georgia","Helvetica", "Arial", sans-serif;
  }

  header {
  font-size: 20px;
  font-weight: bold;
  }
  
  code {
    display: block;
    background-color: rgb(223, 222, 222);
    padding: 10px;
  }

  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 10px;
    height: 100%;
    border-right: solid 3px rgb(122, 87, 163);
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

  .blurb {
    color: rgb(97, 125, 181);
    font-style: italic;
    font-weight: bold;
  }
  

  @media (min-width: 600px) {
    /* Make the nav go to the left on a larger screen*/
    nav {
      display: inline-block;
      height: 100%;
      padding-right: 25px;
    }
  }